.packages {
    align-items: stretch; /* Equal height */
    height: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
  }

  .packages h2 {
    text-align: center;
    font-family: impact;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .packages header {
    max-width: 700px;
    margin: auto;
    text-align: justify;
    padding: 5px 10px;
  }

  .package-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .package {
    padding: 3%;
    width: 32%;
    text-align: center;

  }

  .package-heading {
    border: 2px solid #f7be4b;
    border-bottom: 1px solid #f7be4b;
  }

  .package-details {
    border: 2px solid goldenrod;
    border-top: 1px solid goldenrod;
    min-height: 200px;
    vertical-align: middle;
  }

  .package-name{
    font-size: 1.2rem;
  }

  .package-price {
    font-size: 2rem;
  }

  .package-details li {
    list-style: none;
    text-align: center;
    padding: 10px 0;
  }


  @media screen and (max-width: 768px) {
    
    .packages>header>h2 {
      font-size: 30px !important;
    }

    .package-container {
      display: block;
    }

    .package {
      width: 100%;
      padding: 20px;
    }
  }