#preloader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 10000000px;
    z-index: 100;
}

#preloader-video {
    max-width: 100vw;
    position: relative;
    z-index: 105;
}

#preloader-bg {

    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    z-index: 104;
}

@media screen and (max-width: 768px) {

    #preloader-video {
       top: 30vh;
    }
    
}